{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    SOBRE MI
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 d-flex align-items-center" style="margin-top: 50px";>
            <div style="text-align: justify;">
                <p>¡Hola! Mi nombre es Jorge, pero todos los que me conocen me dicen Shorsh. ¡Siéntanse libres!</p>
                <p>Tengo 35 años y entre mis aficiones y pasiones se encuentran mi familia, amigos, los videojuegos, el básquet, Pokémon, etc.
                    Asimismo, soy un orgulloso gym rat que no falta un día a entrenar. Tengo una gata tricolor que se llama Suri y es quien me
                    hace compañía en mi día a día.
                    Mi lóngevo fanatismo por Pokémon y todas sus formas de contenido son lo que me llevó a crear este sitio como temática para 
                    mi proyecto final. ¡Espero que haya entre quienes le echen una mirada a este pequeño proyecto gente tan pokefanática como yo!
                    Disfruten mucho y, por sobre todas las cosas, ¡atrápenlos a todos!
        </div>
    </div>
{% endblock content %}