{% extends 'core/base.html' %}


{% block title %}
        <h1>¡Bienvenido/s a Pokédex!</h1>
{% endblock title %}

{% block content %}
    <ul style="list-style-type: none; padding: 0;">
        <li style="margin-bottom: 10px;"><span style="color: #000000;">&#8226;</span> <a href="{% url 'Pokedex:pokemon_home' %}">Buscar un Pokémon</a></li>
        <li style="margin-bottom: 10px;"><span style="color: #000000;">&#8226;</span> <a href="{% url 'Pokedex:pokemon_create' %}">Añadir un Pokémon</a></li>
        <li style="margin-bottom: 10px;"><span style="color: #000000;">&#8226;</span> <a href="{% url 'Pokedex:entrenador_home' %}">Buscar un Entrenador</a></li>
        <li style="margin-bottom: 10px;"><span style="color: #000000;">&#8226;</span> <a href="{% url 'Pokedex:entrenador_create' %}">Añadir un Entrenador</a></li>
    </ul>
{% endblock content %}